/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  /*background-color: #00539F;*/
}

body {
  background: rgb(106, 106, 158);
  background: linear-gradient(
    90deg,
    rgba(106, 106, 158, 1) 0%,
    rgba(68, 144, 192, 1) 0%,
    rgba(227, 222, 164, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
}

/* || typography */

h1,
h2,
h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
}

p,
input,
li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: transparent;
  padding: 1%;
}

main,
header,
nav,
article,
aside,
section,
iframe {
  /*  background-color: #FF9500;*/
  padding: 1%;
  display: block;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
:root {
  --sticky-header-height: var(--main-document-header-height);
}

.top-navigation .container {
  align-items: center;
  background-color: var(--background-primary);
  display: flex;
  flex-flow: row wrap;
  gap: var(--gutter);
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  width: 100%;
}

.top-navigation-main {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  gap: 0.5rem;
  left: inherit;
  padding: 0;
  position: static;
  top: inherit;
  z-index: inherit;
}

.main-wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
}

.site-search {
  display: block;
}

/* || main layout */

main {
  display: flex;
  overflow-y: auto;
  max-height: 1000px;
}

article,
section {
  flex: 4;
}

aside {
  flex: 1;
  margin-right: 20px;
  padding: 1%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}

.output li {
  display: block;
  float: left;
  border: 5px solid #00539f;
  padding: 5px;
  background-color: lightblue;
  color: #00539f;
}

ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.output * {
  box-sizing: border-box;
}

.icons_projects img {
  max-width: 10px;
  max-height: 15px;
}
