h1 {
  font-size: 40px;
  color: lightblue;
}

p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00539f;
}
iframe {
  width: 150vh;
  height: 80vh;
  text-align: center;
}
