h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #00539f;
}
.text-responsive {
  font-size: calc(100% + 2vw + 2vh);
}
body {
  background-image: url(https://storage.googleapis.com/boom-ai-images/results/WdmtTpplcTmE1KmWw0eC/00008.jpg);
  font-family: sans-serif;
  padding: 20px;
}
.museum {
  width: 80%;
  background-image: url(https://storage.googleapis.com/boom-ai-images/results/FTquRRIDvmteU6ulnBMU/00001.jpg);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 20px;
  max-width: auto;
}
p body {
  width: auto;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
  font-size: 120px;
}
img {
  display: block;
  margin: 0 auto;
}

p.myquote {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0, 0, 200, 0.6);
  background: rgba(0, 0, 200, 0.3);
  color: rgba(0, 0, 200, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}
