/* || General setup */
/*Certain types of motion-based animations can cause discomfort for some users. In particular, people with vestibular disorders have sensitivity to certain motion triggers.

The @media at-rule has a media feature called prefers-reduced-motion to set CSS based on the user's preferences. It can take one of the following values:

    reduce
    no-preference
*/
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
}

body > * {
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  /*background-color: #00539F;*/
}

body {
  background: rgb(106, 106, 158);
  background: linear-gradient(
    90deg,
    rgba(106, 106, 158, 1) 0%,
    rgba(68, 144, 192, 1) 0%,
    rgba(227, 222, 164, 1) 100%
  );
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
/*
.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #2a2a35;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}*/
header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  padding: 0 !important;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #2a2a35;
  top: 0;
  border-bottom: 4px solid #fdb347;
  z-index: 1;
  height: 50px;
}

.top-navigation-wrap {
  margin: -20px 0px 0px 120px;
}

.main-wrapper {
  padding-top: 120px;
  padding-right: 70px;
  padding-left: 70px;
}

main {
  display: flex;
}

footer {
  margin-top: 10px;
}

/* || typography */

h1,
h2,
h3 {
  /*font-family: 'Cinzel Decorative', cursive;*/
  color: #2a2a2a;
}

p,
input,
li {
  /*font-family: 'Roboto Condensed', sans-serif;*/
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 20px black;
}

h2 {
  font-size: 3rem;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.text-delimited {
  max-width: 50%;
}

h3 {
  font-size: 2.2vh;
  text-align: center;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

footer p {
  text-align: center;
}

main,
header,
nav,
article,
aside,
section,
iframe {
  /*  background-color: #FF9500;*/
  padding: 1%;
  display: block;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}
/* || main layout */
article,
section {
  flex: 4;
}

aside {
  flex: 1;
  margin-right: 20px;
  padding: 1%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

nav {
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

#myDIV {
  display: grid;
  gap: 10px;
  padding: 10px;
  background-color: #009999;
  grid-template: auto / auto auto auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 10px;
  padding: 30px 0 30px 0;
  background-color: #2a2a35;
  text-align: center;
}

#myDIV div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

#myDIV a {
  text-decoration: none;
  color: var(--main-white);
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-title {
  font-size: 1.5rem;
  padding: 2rem 0.5rem;
}
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --sticky-header-height: var(--main-document-header-height);
}

.top-navigation .container {
  align-items: center;
  background-color: var(--background-primary);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: var(--gutter);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  width: 100%;
}

.top-navigation-main {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  left: inherit;
  padding: 0;
  position: static;
  top: inherit;
  z-index: inherit;
  max-height: 50px;
}

.main-wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
}

.site-search {
  display: block;
}

.output li {
  display: block;
  float: left;
  border: 3px solid #00539f;
  border-radius: 20px;
  padding: 10px;
  background-color: lightblue;
  color: #00539f;
  margin: 10px;
}
.timeline p {
  display: inline-block;
}

.output * {
  box-sizing: border-box;
}

.icons_projects img {
  max-width: 10px;
  max-height: 15px;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (min-width: 992px) {
  .icons_technical {
    width: 5%;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .icons_technical {
    width: 20%;
  }
}

input,
textarea {
  padding: 0;
}

.submit-button,
.reset-button {
  /*display: inline-block;
    /*width: 40%;*/
  height: 3em;
  font-size: 1.1rem;
  background-color: #009999;
  max-width: 300px;
  min-width: 100px;
  border-radius: 30px;
  border: none;
  margin-left: 20px;
  color: #f3f3f3;
  padding: 10px;
  margin-top: 3px;
}

#demo {
  position: absolute;
  top: 250px;
  font-size: 40px;
}
footer,
footer a {
  background-color: #2a2a35;
  border-top: 4px solid #fdb347;
  text-align: center;
  padding: 0.3em;
}

footer p {
  color: #fff;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  header {
    flex-direction: column;
    text-align: center;
  }
}
